.from{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.laber{
    width: 250px;
    height: 35px;
    line-height: 35px;
    margin: 10px auto;
    display: flex;
    align-items: center;
}
.laber span{
    display: inline-block;
    vertical-align: middle;
}
.laber input{
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
    flex: 1;
}
.laber button{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: block;
    cursor: pointer;
    background-color: #008c8c;
    color: white;
    border: none;
    border-radius: 5px;
}