.item {
    border: 1px solid;
    color: rgb(60, 129, 189);
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 2px;
    border-radius: 5px;
    user-select: none;
}

.item.disabled {
    color: #ccc;
    cursor: not-allowed;
}

.item.active {
    color: #f40;
    cursor: auto
}

.panel {
    color: rgb(60, 129, 189);
    margin-left: 10px;
}